<select #modulo class="form-select" (change)="0">
  <option disabled selected>-- Selecione um módulo --</option>
  <option value="1">Property Binding e Interpolação</option>
  <option value="2">Class e Style Binding</option>
  <option value="3">Event Binding</option>
</select>
<app-propertybinding [style.display]="modulo.value == '1' ? 'block' : 'none'"></app-propertybinding>
<app-classbinding [style.display]="modulo.value == '2' ? 'block' : 'none'"></app-classbinding>
<app-eventbinding [style.display]="modulo.value == '3' ? 'block' : 'none'"></app-eventbinding>