<select #modulo class="form-select" (change)="0">
  <option disabled selected>-- Selecione um módulo --</option>
  <option value="1">Property Binding e Interpolação</option>
  <option value="2">Class e Style Binding</option>
  <option value="3">Event Binding</option>
  <option value="4" >Two-Way Data Binding</option>
  <option value="5">Output Properties</option>
</select>
<app-propertybinding *ngIf="modulo.value == '1'"></app-propertybinding>
<app-classbinding *ngIf="modulo.value == '2'"></app-classbinding>
<app-eventbinding *ngIf="modulo.value == '3'"></app-eventbinding>
<app-twowaydatabinding *ngIf="modulo.value == '4'"></app-twowaydatabinding>
<contador *ngIf="modulo.value == '5'" (mudouValor)="onMudouValor($event)" [valor]="valorInicial"></contador>